body::before{
    display: block;
    content: '';
    height: 60px;
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  }


    
/* select, input{
      width: 100%  !important;
    }   */
  